<section class="w-full h-full flex flex-column gap-4">
  <header class="flex flex-column md:flex-row justify-content-between gap-2">
    <p-button
      label="NUEVO CLIENTE"
      icon="pi pi-plus"
      styleClass="p-button-info p-button-sm h-3rem w-full"
      (onClick)="openClientDialog()"
    />

    <section class="flex flex-column-reverse md:flex-row gap-2">
      <p-button
        label="LIMPIAR FILTROS"
        icon="pi pi-filter-slash"
        styleClass="p-button-danger p-button-sm h-3rem w-full"
        (onClick)="cleanFilters(dt, fi)"
      />
      <label class="p-input-icon-right h-3rem">
        <i class="pi pi-search"></i>
        <input
          #fi
          pInputText
          type="text"
          placeholder="Buscar por razón social"
          class="w-full md:w-22rem h-full"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
        />
      </label>
    </section>
  </header>
  <p-table
    #dt
    [value]="clients"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['taxpayerName']"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last}"
    styleClass="p-datatable-striped p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr class="text-sm h-3rem">
        <th>CUIT</th>
        <th>RAZÓN SOCIAL</th>
        <th>CORREO ELECTRÓNICO</th>
        <th>TELÉFONO / CELULAR</th>
        <th>PERSONA DE CONTACTO</th>
        <th class="w-1">ACCIONES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr class="text-sm h-3rem">
        <td>{{ client.taxpayerId | null }}</td>
        <td>{{ client.taxpayerName }}</td>
        <td>{{ client.taxpayerEmail | null }}</td>
        <td>{{ client.taxpayerPhone | null }}</td>
        <td>{{ client.contactName | null }}</td>
        <td>
          <p-button
            icon="pi pi-window-maximize"
            styleClass="p-button-text p-button-secondary"
            (onClick)="openClientDialog(client)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="text-sm w-full">
        <td colspan="6">
          <div class="flex gap-2 align-items-center">
            <i class="pi pi-info-circle"></i>
            <span class="font-medium">
              {{
                dt.filteredValue
                  ? "No se encontraron clientes con los criterios de búsqueda ingresados."
                  : "No hay clientes cargados."
              }}
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog />
  <p-toast position="bottom-right" />
</section>
