<form class="flex flex-wrap gap-4" [formGroup]="userForm">
  <div class="flex flex-column w-full">
    <label>NOMBRE DE USUARIO</label>
    <input
      pInputText
      maxlength="255"
      placeholder="Ingrese el nombre de usuario"
      class="w-full"
      [pKeyFilter]="alphaUppercase"
      formControlName="username"
    />
  </div>
  <div class="flex flex-column w-full">
    <label>NOMBRE Y APELLIDO</label>
    <input
      pInputText
      maxlength="255"
      placeholder="Ingrese el nombre y apellido"
      class="w-full"
      [pKeyFilter]="alphaUppercaseSpace"
      formControlName="fullname"
    />
  </div>
  <div class="flex flex-column w-full">
    <label>TIPO DE PERFIL</label>
    <p-dropdown
      formControlName="role"
      [options]="roles"
      optionLabel="name"
      optionValue="id"
      [filter]="true"
      placeholder="Seleccionar el tipo de perfil del usuario..."
      filterPlaceholder="Buscar tipo de perfil"
      styleClass="w-full"
    >
    </p-dropdown>
  </div>
  <div class="flex flex-column w-full">
    <label>CORREO ELECTRÓNICO</label>
    <input
      pInputText
      maxlength="120"
      placeholder="Ingrese el correo electrónico del cliente"
      pInputText
      formControlName="email"
      pKeyFilter="email"
    />
  </div>
  <div class="flex justify-content-between w-full">
    <div class="flex gap-2">
      <p-button
        *ngIf="showButtonResetPassword"
        label="RESTABLECER CONTRASEÑA"
        styleClass="p-button-danger"
        (onClick)="resetPassword()"
      />
      <p-button
        *ngIf="showButtonDisableUser"
        [label]="buttonStatusLabel"
        styleClass="p-button-secondary"
        (onClick)="changeState()"
      />
    </div>
    <div class="flex gap-2">
      <p-button
        label="SALIR DEL FORMULARIO"
        styleClass="p-button-secondary"
        (onClick)="closeForm()"
      />
      <p-button
        [label]="buttonLabel"
        [disabled]="userForm.invalid || !getChangesToUpdate()"
        styleClass="p-button-info"
        (onClick)="submitForm()"
      />
    </div>
  </div>
</form>
