<form class="grid" [formGroup]="userForm">
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>NOMBRE DE USUARIO</label>
    <input
      formControlName="username"
      pInputText
      maxlength="255"
      placeholder="Ingrese el nombre de usuario"
      class="w-full"
      [ngClass]="{ 'ng-invalid ng-dirty': isFormControlInvalid('username') }"
    />
    <small *ngIf="isFormControlInvalid('username')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>NOMBRE Y APELLIDO</label>
    <input
      formControlName="fullname"
      pInputText
      maxlength="255"
      placeholder="Ingrese nombre y apellido"
      class="w-full"
      [ngClass]="{ 'ng-invalid ng-dirty': isFormControlInvalid('fullname') }"
    />
    <small *ngIf="isFormControlInvalid('fullname')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>TIPO DE PERFIL</label>
    <p-dropdown
      formControlName="role"
      [options]="roles"
      optionLabel="name"
      optionValue="id"
      placeholder="Seleccionar perfil del usuario"
      filterPlaceholder="Buscar tipo de perfil"
      styleClass="w-full"
      [filter]="true"
      [showClear]="true"
      [ngClass]="{ 'ng-invalid ng-dirty': isFormControlInvalid('role') }"
    >
    </p-dropdown>
    <small *ngIf="isFormControlInvalid('role')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>CORREO ELECTRÓNICO</label>
    <input
      formControlName="email"
      pInputText
      maxlength="255"
      placeholder="Ingrese correo electrónico"
      pKeyFilter="email"
      [ngClass]="{ 'ng-invalid ng-dirty': isFormControlInvalid('email') }"
    />
    <small *ngIf="isFormControlInvalid('email')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div
    class="flex flex-column xl:flex-row gap-2 col-12 lg:col-12 xl:col-6"
    *ngIf="showButtons"
  >
    <p-button
      label="RESTABLECER CONTRASEÑA"
      styleClass="p-button-success w-full"
      (onClick)="resetUserPassword()"
    />
    <p-button
      [label]="buttonStatusLabel"
      styleClass="p-button-warning w-full"
      (onClick)="changeUserState()"
    />
  </div>
  <div
    class="flex flex-column justify-content-end xl:flex-row gap-2 col-12 lg:col-12 xl:col-6"
    [ngClass]="{
      'xl:col-12': !showButtons
    }"
  >
    <p-button
      label="SALIR DEL FORMULARIO"
      styleClass="p-button-secondary w-full"
      (onClick)="closeUserForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="userForm.invalid || !hasUserFormChanged()"
      styleClass="p-button-info w-full"
      (onClick)="processUserForm()"
    />
  </div>
</form>
