<form class="flex flex-wrap gap-4" [formGroup]="userForm">
  <div class="flex flex-column w-full">
    <label>NOMBRE DE USUARIO</label>
    <input
      pInputText
      maxlength="255"
      placeholder="Ingrese el nombre de usuario"
      class="w-full"
      [pKeyFilter]="alphaUppercase"
      formControlName="username"
    />
  </div>
  <div class="flex flex-column w-full">
    <label>NOMBRE Y APELLIDO</label>
    <input
      pInputText
      maxlength="255"
      placeholder="Ingrese el nombre y apellido"
      class="w-full"
      [pKeyFilter]="alphaUppercaseSpace"
      formControlName="fullname"
    />
  </div>
  <div class="flex flex-column w-full">
    <label>CORREO ELECTRÓNICO</label>
    <input
      pInputText
      maxlength="120"
      placeholder="Ingrese el correo electrónico del cliente"
      pInputText
      formControlName="email"
      pKeyFilter="email"
    />
  </div>
  <!-- Implementar el dropdown de roles -->

  <div class="flex justify-content-end gap-2 w-full">
    <p-button
      label="SALIR DEL FORMULARIO"
      styleClass="p-button-secondary p-button-text"
      (onClick)="closeForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="userForm.invalid"
      styleClass="p-button-info p-button-text"
      (onClick)="submitForm()"
    />
  </div>
</form>
