<form class="flex flex-wrap gap-4" [formGroup]="productForm">
  <div class="flex flex-column w-full">
    <label for="client">CLIENTE</label>
    <p-dropdown
      id="client"
      [options]="clientDropdown"
      formControlName="client"
      optionLabel="taxpayerName"
      optionValue="id"
      [filter]="true"
      placeholder="Seleccionar..."
      styleClass="w-full"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('client') }"
    >
    </p-dropdown>
    <small *ngIf="validateForm('client')" class="p-error">
      Campo requerido*
    </small>
  </div>

  <div class="flex flex-column w-full">
    <label for="productType">TIPO DE PRODUCTO</label>
    <p-dropdown
      id="productType"
      [options]="productTypeDropdown"
      formControlName="productType"
      optionLabel="name"
      optionValue="id"
      [filter]="true"
      placeholder="Seleccionar..."
      styleClass="w-full"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('productType') }"
      (onChange)="onProductTypeChange()"
    >
    </p-dropdown>
    <small *ngIf="validateForm('productType')" class="p-error">
      Campo requerido*
    </small>
  </div>

  <div class="flex flex-column w-full">
    <label for="serial">NÚMERO DE SERIE</label>
    <input
      id="serial"
      type="text"
      pInputText
      formControlName="serial"
      class="w-full"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('serial') }"
      maxlength="10"
    />
    <small *ngIf="validateForm('serial')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column w-full">
    <label for="reference">NÚMERO DE REMITO (ENVIO)</label>
    <input
      id="reference"
      type="text"
      pInputText
      formControlName="reference"
      class="w-full"
    />
    <small id="reference-help">Ingresar remito</small>
  </div>

  <div class="flex flex-column w-full">
    <label for="deliveryDate">FECHA DE ENVIO</label>
    <p-calendar
      id="deliveryDate"
      formControlName="deliveryDate"
      dateFormat="dd/mm/yy"
      styleClass="w-full"
      appendTo="body"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('deliveryDate') }"
    >
    </p-calendar>
    <small *ngIf="validateForm('deliveryDate')" class="p-error">
      Campo requerido*
    </small>
  </div>

  <div class="flex justify-content-end gap-2 w-full">
    <p-button
      label="CANCELAR"
      styleClass="p-button-secondary p-button-text"
      (onClick)="cancelForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="productForm.invalid"
      styleClass="p-button-info p-button-text "
      (onClick)="submitForm()"
    />
  </div>
</form>
