<form class="grid" [formGroup]="productForm">
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>CLIENTE</label>
    <p-dropdown
      formControlName="client"
      optionLabel="taxpayerName"
      optionValue="id"
      placeholder="Seleccionar cliente del producto"
      styleClass="w-full"
      [options]="clients"
      [filter]="true"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('client') }"
      [showClear]="true"
    >
    </p-dropdown>
    <small *ngIf="validateForm('client')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>TIPO DE PRODUCTO</label>
    <p-dropdown
      formControlName="productType"
      optionLabel="name"
      optionValue="id"
      placeholder="Seleccionar tipo de producto del cliente"
      styleClass="w-full"
      [options]="productTypes"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('productType') }"
      [filter]="true"
      [showClear]="true"
      (onChange)="onProductTypeChange()"
    >
    </p-dropdown>
    <small *ngIf="validateForm('productType')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>NÚMERO DE SERIE</label>
    <input
      type="text"
      pInputText
      formControlName="serial"
      placeholder="Ingresar número de serie del producto"
      class="w-full"
      [minlength]="15"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('serial') }"
    />
    <small *ngIf="validateForm('serial')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>NÚMERO DE REMITO (Remito del envio del producto al cliente)</label>
    <input
      type="text"
      pInputText
      formControlName="reference"
      placeholder="Ingresar número de remito del producto"
      class="w-full"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('reference') }"
    />
    <small *ngIf="validateForm('reference')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label
      >FECHA DE DESPACHO (Fecha en la que se envio el producto al
      cliente)</label
    >
    <p-calendar
      formControlName="deliveryDate"
      dateFormat="dd-mm-yy"
      styleClass="w-full"
      appendTo="body"
      placeholder="Seleccionar o ingresar fecha de despacho del producto"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('deliveryDate') }"
      [showClear]="true"
    >
    </p-calendar>
    <small *ngIf="validateForm('deliveryDate')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex gap-2 col-12 lg:flex-row justify-content-end flex-column">
    <p-button
      label="SALIR DEL FORMULARIO"
      styleClass="p-button-secondary w-full"
      (onClick)="closeForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="productForm.invalid || !getChangesToUpdate()"
      styleClass="p-button-info w-full"
      (onClick)="submitForm()"
    />
  </div>
</form>
