<form class="grid" [formGroup]="failureTypeForm">
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>NOMBRE DE LA FALLA</label>
    <input
      formControlName="name"
      type="text"
      pInputText
      class="w-full"
      maxlength="60"
      placeholder="Ingrese nombre de la falla"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('name') }"
    />
    <small *ngIf="validateForm('name')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>DESCRIPCIÓN DE LA FALLA</label>
    <textarea
      pInputTextarea
      formControlName="description"
      maxlength="250"
      placeholder="Ingrese descripción de la falla"
      class="w-full"
      [autoResize]="true"
      rows="5"
    ></textarea>
  </div>
  <div class="flex gap-2 col-12 lg:flex-row justify-content-end flex-column">
    <p-button
      label="SALIR DEL FORMULARIO"
      styleClass="p-button-secondary w-full"
      (onClick)="cancelForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="failureTypeForm.invalid || !getChangesToUpdate()"
      styleClass="p-button-info w-full"
      (onClick)="submitForm()"
    />
  </div>
</form>
