<section class="h-full">
  <p>Proximamente</p>
  <!-- <div class="flex gap-5 w-full">
    <div class="w-full p-card shadow-1 p-2 flex flex-column">
      <p>CANTIDAD DE INGRESOS</p>
      <h2 class="font-normal text-6xl">1687</h2>
    </div>
    <div class="w-full p-card shadow-1 p-2 flex flex-column">
      <p>SERVICIOS ACTIVOS</p>
      <h2 class="font-normal">50</h2>
    </div>
    <div class="w-full p-card shadow-1 p-2 flex flex-column">
      <p>SERVICIOS COMPLETADOS</p>
      <h2 class="font-normal">1687</h2>
    </div>
    <div class="w-full p-card shadow-1 p-2 flex flex-column">
      <p>SERVICIOS OTROS</p>
      <h2 class="font-normal">N/A</h2>
    </div>
  </div> -->
</section>
