<section class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="p-card mb-0 p-4">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3"
            >SERVICIOS EN GENERAL</span
          >
          <div class="text-900 font-medium text-xl">{{ services }}</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round h-3rem w-3rem"
        >
          <i class="pi pi-globe text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-500">Total de servicios</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="p-card mb-0 p-4">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">SERVICIOS ACTIVOS</span>
          <div class="text-900 font-medium text-xl">{{ servicesActive }}</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-yellow-100 border-round h-3rem w-3rem"
        >
          <i class="pi pi-star text-yellow-500 text-xl"></i>
        </div>
      </div>
      <span class="text-500">Servicios activos actualmente.</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="p-card mb-0 p-4">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3"
            >SERVICIOS REPARADOS</span
          >
          <div class="text-900 font-medium text-xl">{{ servicesRepair }}</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-green-100 border-round h-3rem w-3rem"
        >
          <i class="pi pi-thumbs-up text-green-500 text-xl"></i>
        </div>
      </div>
      <span class="text-500">Total de servicios reparados.</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="p-card mb-0 p-4">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3"
            >SERVICIOS NO REPARADOS</span
          >
          <div class="text-900 font-medium text-xl">
            {{ servicesWithOutRepair }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-orange-100 border-round h-3rem w-3rem"
        >
          <i class="pi pi-thumbs-down text-orange-500 text-xl"></i>
        </div>
      </div>
      <span class="text-500">Total de servicios no reparados.</span>
    </div>
  </div>
</section>
