<section class="grid">
  <section class="col-12 md:col-12 lg:col-12 xl:col-3">
    <form class="flex flex-wrap gap-3" [formGroup]="supportManyForm">
      <div class="flex flex-column gap-1">
        <h2 class="font-semibold">INGRESOS MASIVOS</h2>
        <p class="text-gray-600 font-medium">
          Panel para administrar lotes nuevos de ingresos a servicio técnico
        </p>
      </div>
      <div class="flex flex-column w-full">
        <label>FECHA DE REGISTRO</label>
        <p-calendar
          formControlName="dateEntry"
          dateFormat="dd-mm-yy"
          styleClass="w-full"
          appendTo="body"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [showButtonBar]="true"
          [showClear]="true"
          placeholder="Seleccionar fecha de registro"
        />
        <small class="p-error"> Campo requerido* </small>
      </div>
      <div class="flex flex-column w-full">
        <label>REMITO DE ENTRADA</label>
        <input
          formControlName="startReference"
          type="text"
          pInputText
          class="w-full"
          placeholder="Ingresar número de remito"
          [maxLength]="255"
        />
        <small class="p-error"> Campo requerido* </small>
      </div>
      <div class="flex flex-column w-full">
        <label>PRIORIDAD</label>
        <p-dropdown
          [options]="priorities"
          formControlName="priority"
          optionLabel="name"
          optionValue="id"
          placeholder="Seleccionar prioridad del servicio"
          styleClass="w-full"
          [showClear]="true"
        />
        <small class="p-error"> Campo requerido* </small>
      </div>
      <div class="flex flex-column w-full">
        <label>FAJA DE SEGURIDAD</label>
        <p-dropdown
          [options]="booleanDropdown"
          formControlName="securityStrap"
          optionLabel="label"
          optionValue="value"
          styleClass="w-full"
          placeholder="Seleccionar aprobación de faja de seguridad"
          [showClear]="true"
        />
        <small class="p-error"> Campo requerido* </small>
      </div>
      <div class="flex flex-column w-full">
        <label>NÚMERO DE SERIE</label>
        <div class="p-input-icon-right">
          <i class="pi pi-times cursor-pointer" (click)="clearValue()"></i>
          <input
            #search
            formControlName="search"
            type="text"
            pInputText
            class="w-full"
            maxlength="10"
            minlength="1"
            placeholder="Ingresar número de serie"
            (keydown.enter)="onKeyPressEnter($event)"
          />
        </div>

        <small class="p-error"> Campo requerido* </small>
      </div>
      <div class="w-full">
        <p-button
          label="GUARDAR SERVICIO"
          styleClass="w-full p-button-info"
          icon="pi pi-save"
          (onClick)="saveData()"
          [disabled]="supportManyForm.invalid"
        />
      </div>
    </form>
  </section>
  <section class="col-12 lg:col-12 xl:col-9 px-4">
    <p-table [value]="supports" styleClass="p-datatable-striped p-datatable-sm">
      <ng-template pTemplate="header">
        <tr class="text-sm h-3rem">
          <th>NÚMERO DE RECLAMO</th>
          <th>FAJA DE SEGURIDAD</th>
          <th>NÚMERO DE SERIE</th>
          <th>TIPO DE PRODUCTO</th>
          <th>CLIENTE</th>
          <th>GARANTÍA</th>
          <th class="w-1">ACCIONES</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-support>
        <tr class="text-sm">
          <td>
            <span class="font-semibold">{{ support.reclaim }}</span>
          </td>
          <td>{{ support.securityStrap | bool }}</td>
          <td>{{ support.product.serial }}</td>
          <td>{{ support.product.productType.name }}</td>
          <td>{{ support.product.client.taxpayerName }}</td>
          <td>{{ support.warranty | bool }}</td>
          <td>
            <p-button
              icon="pi pi-trash"
              styleClass="p-button-text p-button-secondary"
              (click)="deleteSupportItem(support)"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between text-sm">
          <div class="flex flex-column gap-2">
            <span>
              FECHA DE ENTRADA:
              {{
                supportManyForm.get("dateEntry")?.value
                  | date : "dd/MM/yyyy"
                  | null
              }}
            </span>
            <span>
              REMITO DE ENTRADA:
              {{ supportManyForm.get("startReference")?.value | null }}
            </span>
          </div>
          <p-button
            label="REGISTRAR SERVICIOS"
            styleClass=" p-button-success full"
            (onClick)="createSupports()"
            [disabled]="this.supports.length <= 0"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex justify-content-end align-items-center text-sm h-3rem">
          <span>SERVICIOS CARGADOS: {{ supports ? supports.length : 0 }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="text-sm w-full">
          <td>
            <div class="flex gap-2 align-items-center">
              <i class="pi pi-info-circle"></i>
              <span class="font-medium">No existen registros de servicios</span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
  <p-confirmDialog />
  <p-toast position="bottom-right" />
</section>
