<div class="w-full h-full flex flex-column gap-4">
  <div class="flex align-items-center justify-content-between">
    <div class="flex gap-2 align-items-center">
      <p-button
        label="NUEVO TIPO DE FALLA"
        icon="pi pi-plus"
        styleClass="p-button-info p-button-sm"
        (onClick)="openFailureTypeForm()"
      />
    </div>
    <div class="flex gap-2 align-items-center">
      <p-button
        label="LIMPIAR FILTROS"
        icon="pi pi-filter-slash"
        styleClass="p-button-danger p-button-sm"
        (onClick)="cleanFilters(dt, fi)"
      />
      <div class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input
          #fi
          pInputText
          type="text"
          placeholder="Buscar por nombre de falla"
          class="w-20rem"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
        />
      </div>
    </div>
  </div>
  <p-table
    #dt
    [value]="failureTypeData"
    [globalFilterFields]="['name']"
    [scrollable]="true"
    scrollHeight="640px"
    styleClass="p-datatable-striped p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr class="text-sm h-3rem">
        <th>NOMBRE DE LA FALLA</th>
        <th class="w-1">ACCIONES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-failureType>
      <tr class="text-sm h-3rem">
        <td>
          {{ failureType.name }}
        </td>
        <td>
          <p-button
            icon="pi pi-window-maximize"
            styleClass="p-button-text p-button-secondary"
            (onClick)="openFailureTypeForm(failureType)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="text-sm w-full">
        <td colspan="2">
          <div class="flex gap-2 align-items-center">
            <i class="pi pi-info-circle"></i>
            <span class="font-medium"
              >{{
                dt.filteredValue
                  ? "No se encontraron tipos de falla con los criterios de búsqueda"
                  : "No hay tipos de falla cargados."
              }}
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog />
<p-toast position="bottom-right" />
