<p-tabView>
  <p-tabPanel header="DETALLE">
    <p-table
      [value]="[supports]"
      styleClass="p-datatable-striped p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr class="text-sm h-3rem">
          <th colspan="2">DETALLE GENERAL DEL SERVICIO</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body">
        <tr class="text-sm h-3rem">
          <td class="w-16rem">ESTADO DEL SERVICIO</td>
          <td>
            <p-tag
              [severity]="getTagSeverity(supports.state.id)"
              [value]="supports.state.name"
            />
          </td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">TAREA ASOCIADA (Bitrix)</td>
          <td class="font-semibold">
            <a
              [href]="supports.bitrixUrl"
              target="_blank"
              rel="noopener noreferrer"
            >
              <p-button
                label="Ir al enlace (Bitrix)"
                styleClass="p-button-sm p-button-text p-button-info"
                icon="pi pi-link"
              ></p-button>
            </a>
          </td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">NÚMERO DE RECLAMO</td>
          <td class="font-semibold">{{ supports.reclaim }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">CLIENTE</td>
          <td class="font-semibold">
            {{ supports.product.client.taxpayerName }}
          </td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">TIPO DE PRODUCTO</td>
          <td class="font-semibold">{{ supports.product.productType.name }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">FECHA DE INGRESO</td>
          <td>{{ supports.dateEntry | date : "dd/MM/yyyy" }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">FECHA DE SALIDA</td>
          <td>{{ supports.dateDeparture | date : "dd/MM/yyyy" | null }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">GARANTIA</td>
          <td>{{ supports.warranty | null | bool }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">REMITO DE INGRESO</td>
          <td>{{ supports.startReference | null }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">REMITO DE SALIDA</td>
          <td>{{ supports.endReference | null }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">NÚMERO DE ORDEN DE COMPRA</td>
          <td>{{ supports.orderNumber | null }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">NÚMERO DE COTIZACIÓN</td>
          <td>{{ supports.quoteNumber | null }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">FALLA REPORTADA</td>
          <td>{{ supports.failure | null }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">FAJA DE SEGURIDAD</td>
          <td>{{ supports.securityTrap | null | bool }}</td>
        </tr>
        <tr class="text-sm h-3rem">
          <td class="w-16rem">OBSERVACIONES</td>
          <td class="white-space-normal">{{ supports.remarks | null }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="FALLAS">
    <p-table
      [value]="supports.failureTypes"
      styleClass="p-datatable-striped p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr class="text-sm h-3rem">
          <th>FALLAS ENCONTRADAS DURANTE EL SERVICIO</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-failureType>
        <tr class="text-sm h-3rem">
          <td>{{ failureType.name }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="text-sm w-full">
          <td>
            <div class="flex gap-2 align-items-center">
              <i class="pi pi-info-circle"></i>
              <span class="font-medium"
                >No existen registros de fallas para el servicio</span
              >
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="HISTORIAL">
    <p-table
      [value]="supportHistories"
      sortField="id"
      [sortOrder]="-1"
      [scrollable]="true"
      dataKey="id"
      rowGroupMode="subheader"
      groupRowsBy="stateCurrent"
      styleClass="p-datatable-striped p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr class="text-sm h-3rem">
          <th colspan="5">CAMBIOS DE ESTADO DEL SERVICIO</th>
        </tr>
        <tr class="text-sm h-3rem">
          <th class="w-2">FECHA Y HORA DE REGISTRO</th>
          <th class="w-2">ESTADO</th>
          <th class="white-space-normal">COMENTARIO</th>
          <th class="w-2">USUARIO</th>
          <th class="w-1">NOTAS</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="groupheader"
        let-serviceHistory
        let-rowIndex="rowIndex"
        let-expanded="expanded"
      >
        <tr class="text-sm h-3rem">
          <td>{{ serviceHistory.dateEntry | date : "dd/MM/yyyy HH:mm" }}</td>
          <td>
            <p-tag [value]="serviceHistory.stateCurrent.name" severity="info" />
          </td>
          <td>{{ serviceHistory.remarks | null }}</td>
          <td>
            {{ serviceHistory.user.fullname }}
          </td>
          <td>
            <p-button
              styleClass="p-button-text p-button-secondary"
              [icon]="expanded ? 'pi pi-comments' : 'pi pi-comments'"
              [pRowToggler]="serviceHistory"
              [disabled]="serviceHistory.serviceNote.length <= 0"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="rowexpansion"
        let-serviceHistory
        let-rowspan="rowspan"
      >
        <tr>
          <td colspan="5">
            <p-table
              [value]="serviceHistory.serviceNote"
              sortField="id"
              [sortOrder]="-1"
              [scrollable]="true"
              styleClass="p-datatable-striped p-datatable-sm"
            >
              <ng-template pTemplate="header">
                <tr class="text-sm h-3rem">
                  <th class="w-2">FECHA Y HORA DE REGISTRO</th>
                  <th class="w-2">USUARIO</th>
                  <th class="white-space-normal">NOTA</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-note>
                <tr class="text-sm h-3rem">
                  <td>{{ note.dateEntry | date : "dd/MM/yyyy HH:mm" }}</td>
                  <td>{{ note.user.fullname }}</td>
                  <td>{{ note.comment }}</td>
                </tr>
              </ng-template>
            </p-table>
          </td>
        </tr>
        <!-- <tr
          class="text-sm h-3rem"
          *ngFor="let note of serviceHistory.serviceNote"
        >
          <td>
            {{ note.dateEntry | date : "dd/MM/yyyy HH:mm" }}
          </td>
          <td>{{ note.user.fullname }}</td>
          <td colspan="3">{{ note.comment }}</td>
        </tr> -->
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="text-sm w-full">
          <td colspan="5">
            <div class="flex gap-2 align-items-center">
              <i class="pi pi-info-circle"></i>
              <span class="font-medium"
                >No hay historial de servicios cargados.
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>
