<section
  class="flex flex-column gap-5 bg-white px-5 py-6 w-full border-round shadow-2"
>
  <picture class="flex flex-row justify-content-center">
    <img src="/assets/logo.webp" alt="Logo" height="45" />
  </picture>

  <section class="flex flex-column gap-1">
    <h2 class="font-normal">Inicio de sesión</h2>
    <p class="text-gray-600">Ingrese sus credenciales para acceder al panel.</p>
  </section>

  <form class="flex flex-column gap-3" [formGroup]="loginForm">
    <fieldset class="border-none">
      <legend>Nombre de usuario</legend>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input
          pInputText
          maxlength="150"
          placeholder="Ingrese su nombre de usuario"
          class="w-full"
          formControlName="username"
          id="username"
          aria-describedby="username-error"
        />
      </div>
      <small id="username-error" class="p-error">Campo obligatorio*</small>
    </fieldset>

    <fieldset class="border-none">
      <legend>Contraseña</legend>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-lock"></i>
        </span>
        <p-password
          [feedback]="false"
          [toggleMask]="true"
          [autocomplete]="'off'"
          placeholder="Ingrese su contraseña"
          styleClass="w-full"
          inputStyleClass="w-full"
          formControlName="password"
          id="password"
          aria-describedby="password-error"
        ></p-password>
      </div>
      <small id="password-error" class="p-error">Campo obligatorio*</small>
    </fieldset>

    <p-button
      label="INICIAR SESIÓN"
      styleClass="w-full p-button-info"
      (onClick)="login()"
      [disabled]="loginForm.invalid"
    />
  </form>
</section>
