<form class="w-full flex flex-column gap-3 py-2" [formGroup]="supportForm">
  <div class="w-full flex gap-2">
    <input
      type="text"
      pInputText
      class="w-full"
      placeholder="Buscar por número de serie..."
      formControlName="search"
    />
    <p-button
      icon="pi pi-search"
      styleClass="p-button-info"
      (onClick)="searchProduct()"
    />
  </div>

  <div class="w-full flex gap-2">
    <div class="w-full">
      <label>FECHA DE REGISTRO</label>
      <input
        type="text"
        pInputText
        class="w-full font-bold"
        formControlName="dateEntry"
      />
    </div>
    <div class="w-full">
      <label>NÚMERO DE RECLAMO</label>
      <input
        type="text"
        pInputText
        class="w-full font-bold"
        formControlName="reclaim"
      />
    </div>
    <div class="w-full">
      <label>ESTADO DEL INGRESO</label>
      <input
        type="text"
        pInputText
        class="w-full font-bold"
        formControlName="state"
      />
    </div>
  </div>

  <div class="w-full flex gap-2">
    <div class="w-full">
      <label>TIPO DE PRODUCTO</label>
      <input
        type="text"
        pInputText
        class="w-full font-bold"
        formControlName="productType"
      />
    </div>
    <div class="w-full">
      <label>CLIENTE</label>
      <input
        type="text"
        pInputText
        class="w-full font-bold"
        formControlName="client"
      />
    </div>
  </div>

  <div class="w-full flex gap-2">
    <div class="w-full">
      <label>GARANTÍA DE PRODUCCIÓN</label>
      <input
        type="text"
        pInputText
        class="w-full font-bold"
        formControlName="warrantyProduction"
        [ngClass]="{
          'bg-red-100 text-red-600':
            supportForm.get('warrantyProduction')?.value ===
            'GARANTÍA DE PRODUCCIÓN VENCIDA',
          'bg-green-100 text-green-600':
            supportForm.get('warrantyProduction')?.value ===
            'GARANTÍA DE PRODUCCIÓN VÁLIDA'
        }"
      />
    </div>
    <div class="w-full">
      <label>GARANTÍA DE SERVICIO TÉCNICO</label>
      <input
        type="text"
        pInputText
        class="w-full font-bold"
        formControlName="warrantyService"
        [ngClass]="{
          'bg-red-100 text-red-600':
            supportForm.get('warrantyService')?.value ===
            'GARANTÍA DE SERVICIO TÉCNICO VENCIDA',
          'bg-green-100 text-green-600':
            supportForm.get('warrantyService')?.value ===
            'GARANTÍA DE SERVICIO TÉCNICO VÁLIDA'
        }"
      />
    </div>
  </div>
  <div class="w-full flex gap-2">
    <div class="w-full">
      <label>GARANTIA</label>
      <p-dropdown
        [options]="warrantyDropdown"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccionar..."
        styleClass="w-full"
        formControlName="warranty"
      ></p-dropdown>
    </div>
    <div class="w-full">
      <label>TIPO DE PRIORIDAD</label>
      <p-dropdown
        [options]="supportPrioritiesDropdown"
        optionLabel="name"
        optionValue="id"
        placeholder="Seleccionar..."
        styleClass="w-full"
        formControlName="priority"
      ></p-dropdown>
    </div>
  </div>

  <div class="w-full flex gap-2">
    <div class="w-full">
      <label>REMITO DE PRODUCTO ENTRANTE</label>
      <input
        type="text"
        pInputText
        class="w-full"
        formControlName="reference"
      />
    </div>
    <div class="w-full">
      <label>FAJA DE SEGURIDAD</label>
      <p-dropdown
        [options]="securityStrapDropdown"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccionar..."
        styleClass="w-full"
      ></p-dropdown>
    </div>
  </div>

  <div class="w-full">
    <label>FALLA REPORTADA</label>
    <input type="text" pInputText class="w-full" />
  </div>

  <div class="w-full">
    <label>TIPO DE FALLA</label>
    <p-dropdown
      [options]="failureTypesDropdown"
      optionLabel="name"
      optionValue="id"
      [filter]="true"
      placeholder="Seleccionar..."
      styleClass="w-full"
    >
    </p-dropdown>
  </div>

  <div class="w-full">
    <label>OBSERVACIONES</label>
    <textarea
      pInputTextarea
      maxlength="250"
      class="w-full"
      [autoResize]="true"
      rows="6"
      formControlName="remarks"
    ></textarea>
  </div>

  <div class="flex justify-content-end gap-2 w-full">
    <p-button
      label="CANCELAR"
      styleClass="p-button-secondary p-button-text"
      (onClick)="cancelForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="supportForm.invalid"
      styleClass="p-button-info p-button-text"
      (onClick)="submitForm()"
    />
  </div>
</form>
