<section class="grid">
  <section class="col-12 md:col-12 lg:col-12 xl:col-3">
    <form class="flex flex-wrap gap-2" [formGroup]="indicatorForm">
      <div class="w-full mb-2">
        <span class="font-medium text-2xl">FILTROS</span>
      </div>
      <div class="flex flex-column w-full">
        <label>CLIENTE</label>
        <p-dropdown
          [options]="clients"
          formControlName="client"
          optionLabel="taxpayerName"
          optionValue="id"
          [filter]="true"
          placeholder="Seleccionar cliente"
          filterPlaceholder="Buscar"
          emptyFilterMessage="No hay resultados"
          styleClass="w-full"
          [showClear]="true"
        />
        <small class="text-green-500"> Campo opcional* </small>
      </div>
      <div class="flex flex-column w-full">
        <label>TIPO DE PRODUCTO</label>
        <p-dropdown
          [options]="productTypes"
          formControlName="productType"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          placeholder="Seleccionar tipo de producto"
          filterPlaceholder="Buscar"
          emptyFilterMessage="No hay resultados"
          styleClass="w-full"
          [showClear]="true"
        />
        <small class="text-green-500"> Campo opcional* </small>
      </div>
      <div class="flex flex-column w-full">
        <label>FECHA DESDE</label>
        <p-calendar
          formControlName="dateFrom"
          dateFormat="dd-mm-yy"
          styleClass="w-full"
          appendTo="body"
          [showButtonBar]="true"
          [showClear]="true"
          placeholder="Seleccionar fecha"
        />
        <small class="p-error"> Campo requerido* </small>
      </div>
      <div class="flex flex-column w-full">
        <label>FECHA HASTA</label>
        <p-calendar
          [minDate]="indicatorForm.get('dateFrom')?.value"
          formControlName="dateUntil"
          dateFormat="dd-mm-yy"
          styleClass="w-full"
          appendTo="body"
          [showButtonBar]="true"
          [showClear]="true"
          placeholder="Seleccionar fecha"
        />
        <small class="p-error"> Campo requerido* </small>
      </div>
      <div class="w-full">
        <p-button
          label="GENERAR ESTADÍSTICAS"
          styleClass="w-full p-button-info"
          icon="pi pi-chart-pie"
          [disabled]="indicatorForm.invalid || !getChangesToUpdate()"
          (onClick)="generateIndicators()"
        />
      </div>
      <div class="w-full">
        <p-button
          label="EXPORTAR EXCEL"
          styleClass="w-full p-button-success"
          icon="pi pi-file-excel"
          *ngIf="showExcel"
          (onClick)="exportToExcel()"
        />
      </div>

      <div class="w-full">
        <p-button
          label="LIMPIAR FILTROS"
          styleClass="w-full p-button-danger"
          icon="pi pi-filter-slash"
          *ngIf="showCleanFilters"
          (onClick)="cleanFormAndIndicators()"
        />
      </div>
    </form>
  </section>
  <section
    class="col-12 lg:col-12 xl:col-9 px-4"
    *ngIf="showIndicator; else elseBlock"
  >
    <div class="flex flex-column gap-3 w-full mb-3">
      <img src="../../../../assets/logo.svg" alt="logo" width="280" />
      <div class="flex flex-column gap-2">
        <span class="block text-lg font-medium text-gray-600">
          Estadísticas de Servicio Técnico desde el
          {{ dateFrom | date : "dd/MM/yyyy" }} al
          {{ dateUntil | date : "dd/MM/yyyy" }}
        </span>
        <span class="text-lg font-medium text-gray-500"
          >Cliente: {{ client }}
        </span>
        <span class="text-lg font-medium text-gray-500"
          >Tipo de producto: {{ productType }}
        </span>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 lg:col-6 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium">SERVICIOS</span>
          </div>
          <div>
            <span class="text-4xl font-medium"
              >{{ indicatorData.numberOfServices }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium">SERVICIOS REPARADOS</span>
          </div>
          <div>
            <span class="text-4xl font-medium"
              >{{ indicatorData.numberOfServicesRepair }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium"
              >SERVICIOS NO REPARADOS</span
            >
          </div>
          <div>
            <span class="text-4xl font-medium"
              >{{ indicatorData.numberOfServicesNotRepair }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium"
              >SERVICIOS REINGRESADOS</span
            >
          </div>
          <div>
            <span class="text-4xl font-medium"
              >{{ indicatorData.reentryServices }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium"
              >SERVICIOS EN GARANTIA</span
            >
          </div>
          <div>
            <span class="text-4xl font-medium"
              >{{ indicatorData.warranty.inWarranty }}%
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium"
              >SERVICIOS FUERA DE GARANTIA</span
            >
          </div>
          <div>
            <span class="text-4xl font-medium"
              >{{ indicatorData.warranty.notInWarranty }}%
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium"
              >TIEMPO DE REPARACIÓN <small>(Promedio)</small></span
            >
          </div>
          <div class="flex gap-2 align-items-center">
            <span class="text-4xl font-medium">
              {{ indicatorData.repairTime.averageHours }} Hrs</span
            >
            <span class="text-green-500 font-medium"
              >{{ indicatorData.repairTime.totalHours }} Hrs totales</span
            >
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium"
              >TIEMPO DE PERMANENCIA <small>(Promedio)</small></span
            >
          </div>
          <div class="flex gap-2 align-items-center">
            <span class="text-4xl font-medium"
              >{{ indicatorData.repairTimeOfStay.averageDays }} Días
            </span>
            <span class="text-green-500 font-medium">
              {{ indicatorData.repairTimeOfStay.totalDays }} Días totales</span
            >
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-12 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200 py-2">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium"
              >TASA E ÍNDICE DE TIPO DE FALLA</span
            >
          </div>
          <p-chart
            type="pie"
            [data]="failureTypesData"
            [options]="options"
            width="500"
          ></p-chart>
        </div>
      </div>
      <div class="col-12 lg:col-12 xl:col-6">
        <div class="p-card shadow-none p-3 border-1 border-gray-200 py-2">
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium">TIPO DE PRODUCTO</span>
          </div>
          <p-chart
            type="pie"
            [data]="productTypesData"
            [options]="options"
            width="500"
          ></p-chart>
        </div>
      </div>
    </div>
  </section>
  <ng-template #elseBlock>
    <div>
      Esperando a que inicie la generación de estadísticas. Por favor, haga clic
      en el botón correspondiente.
      <i class="pi pi-spin pi-spinner"></i>
    </div>
  </ng-template>
</section>
<p-toast position="bottom-right" />
