<form class="w-full flex flex-column gap-3" [formGroup]="productTypeForm">
  <div class="w-full">
    <label>CABECERA DE SERIE</label>
    <input
      formControlName="prefix"
      type="text"
      pInputText
      class="w-full"
      [maxLength]="4"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('prefix') }"
      placeholder="Ingresar cabecera de serie del tipo de producto"
      pKeyFilter="num"
    />
    <small *ngIf="validateForm('prefix')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="w-full">
    <label for="name">NOMBRE DEL TIPO DE PRODUCTO</label>
    <input
      formControlName="name"
      id="name"
      type="text"
      pInputText
      class="w-full"
      placeholder="Ingresar nombre del tipo de producto"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('name') }"
      [pKeyFilter]="alphaNumberUppercaseSpaceHyphen"
    />
    <small *ngIf="validateForm('name')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="w-full">
    <label>DESCRIPCIÓN</label>
    <textarea
      formControlName="description"
      pInputTextarea
      maxlength="250"
      class="w-full"
      [autoResize]="true"
      rows="6"
      placeholder="Ingresar descripción del tipo de producto"
      [pKeyFilter]="alphaNumberUppercaseSpaceHyphenDotComma"
    ></textarea>
  </div>
  <div class="flex justify-content-end gap-2 w-full">
    <p-button
      label="SALIR DEL FORMULARIO"
      styleClass="p-button-secondary"
      (onClick)="cancelForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="productTypeForm.invalid || !getChangesToUpdate()"
      styleClass="p-button-info"
      (onClick)="submitForm()"
    />
  </div>
</form>
