<form class="grid" [formGroup]="productTypeForm">
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>CABECERA DE SERIE</label>
    <input
      pInputText
      formControlName="prefix"
      type="text"
      class="w-full"
      maxlength="4"
      pKeyFilter="num"
      placeholder="Ingresar cabecera de serie del tipo de producto"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('prefix') }"
    />
    <small *ngIf="validateForm('prefix')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>NOMBRE DEL TIPO DE PRODUCTO</label>
    <input
      pInputText
      formControlName="name"
      type="text"
      class="w-full"
      maxlength="60"
      placeholder="Ingresar nombre del tipo de producto"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('name') }"
    />
    <small *ngIf="validateForm('name')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>DESCRIPCIÓN</label>
    <textarea
      pInputTextarea
      formControlName="description"
      maxlength="250"
      class="w-full"
      rows="5"
      placeholder="Ingresar descripción del tipo de producto"
      [autoResize]="true"
    ></textarea>
  </div>
  <div class="flex gap-2 col-12 lg:flex-row justify-content-end flex-column">
    <p-button
      label="SALIR DEL FORMULARIO"
      styleClass="p-button-secondary w-full"
      (onClick)="cancelForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="productTypeForm.invalid || !getChangesToUpdate()"
      styleClass="p-button-info w-full"
      (onClick)="submitForm()"
    />
  </div>
</form>
