<form class="flex flex-wrap gap-4" [formGroup]="productTypeForm">
  <div class="flex flex-column gap-2 w-full">
    <label htmlFor="prefix">NÚMERO DE CABEZERA</label>
    <p-inputMask
      formControlName="prefix"
      id="prefix"
      mask="999?9"
      pKeyFilter="num"
      styleClass="w-full"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('prefix') }"
    />
    <small *ngIf="validateForm('prefix')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column gap-2 w-full">
    <label for="name">NOMBRE DEL TIPO DE PRODUCTO</label>
    <input
      formControlName="name"
      id="name"
      type="text"
      pInputText
      class="w-full"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('name') }"
    />
    <small *ngIf="validateForm('name')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex justify-content-end gap-2 w-full">
    <p-button
      label="CANCELAR"
      styleClass="p-button-secondary p-button-text"
      (click)="cancelForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="productTypeForm.invalid"
      styleClass="p-button-info p-button-text"
      (click)="submitForm()"
    />
  </div>
</form>
