* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  font-family: var(--font-family);
}

.p-datatable .p-datatable-header {
  background: transparent;
  border: none;
}

.p-datatable.p-datatable-sm .p-datatable-header {
  padding: 2rem 0;
}

.p-datatable .p-paginator {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  border: none;
}

.p-datatable .p-datatable-thead > tr > th {
  border: none;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: transparent !important;
  border-color: var(--blue-500) !important;
  color: var(--blue-500) !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none !important;
}

@media print {
  nav,
  button,
  .noprint {
    display: none !important;
  }

  .print {
    height: 100vh !important;
  }
}
