* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  font-family: var(--font-family);
}

.p-datatable .p-datatable-header {
  background: transparent;
  border: none;
}

.p-datatable .p-datatable-sm .p-datatable-header {
  padding: 2rem 0;
}

.p-datatable .p-paginator {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  border: none;
}

.p-datatable .p-datatable-thead > tr > th {
  border: none;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: transparent !important;
  border-color: var(--blue-500) !important;
  color: var(--blue-500) !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none !important;
}

.p-dialog .p-dialog-header {
  border-bottom: 1px solid var(--gray-200) !important;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 500 !important;
  font-size: 1.3rem !important;
}

.p-dialog .p-dialog-content {
  padding: 1.5rem 1.5rem !important;
}

.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight) {
  background: var(--red-500) !important;
  border-color: var(--red-500) !important;
  color: #ffffff !important;
}

.p-togglebutton.p-button.p-highlight .p-button-icon-left,
.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight)
  .p-button-icon-left {
  color: #ffffff !important;
}

.p-togglebutton.p-button.p-highlight {
  background: var(--green-500) !important;
  border-color: var(--green-500) !important;
  color: #ffffff;
}

@media print {
  #app {
    display: flex !important;
    flex-direction: column;
    height: 100% !important;
  }

  #app nav {
    display: none;
  }

  #app button,
  .noprint {
    display: none !important;
  }

  .print {
    height: 100vh;
  }
}
