<form class="grid" [formGroup]="clientForm">
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>NOMBRE / RAZÓN SOCIAL</label>
    <input
      pInputText
      formControlName="taxpayerName"
      maxlength="150"
      placeholder="Ingrese el nombre o razón social del cliente"
      class="w-full"
      [ngClass]="{
        'ng-invalid ng-dirty': isFormControlInvalid('taxpayerName')
      }"
    />
    <small *ngIf="isFormControlInvalid('taxpayerName')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-6">
    <label>CUIT</label>
    <input
      pInputText
      formControlName="taxpayerId"
      maxlength="13"
      placeholder="Ingrese el CUIT del cliente"
      pKeyFilter="num"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-6">
    <label>CONDICIÓN FISCAL</label>
    <p-dropdown
      formControlName="taxCondition"
      [options]="taxConditions"
      optionLabel="name"
      optionValue="id"
      [showClear]="true"
      [filter]="true"
      placeholder="Seleccionar condición fiscal del cliente"
      filterPlaceholder="Buscar condición fiscal"
      styleClass="w-full"
    >
    </p-dropdown>
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-6">
    <label>CORREO ELECTRÓNICO</label>
    <input
      pInputText
      formControlName="taxpayerEmail"
      maxlength="120"
      placeholder="Ingrese el correo electrónico del cliente"
      pKeyFilter="email"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-6">
    <label>TELÉFONO / CELULAR</label>
    <input
      pInputText
      formControlName="taxpayerPhone"
      maxlength="20"
      placeholder="Ingrese el teléfono o celular del cliente"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-6">
    <label>PROVINCIA</label>
    <p-dropdown
      formControlName="province"
      [options]="provinces"
      optionLabel="name"
      optionValue="id"
      [showClear]="true"
      [filter]="true"
      placeholder="Seleccionar provincia del cliente"
      styleClass="w-full"
    >
    </p-dropdown>
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-6">
    <label>CALLE</label>
    <input
      pInputText
      formControlName="street"
      maxlength="150"
      placeholder="Ingrese la calle del cliente"
      class="w-full"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-3">
    <label>NÚMERO DE CALLE</label>
    <input
      pInputText
      formControlName="number"
      maxlength="10"
      placeholder="Ingrese el número del domicilio del cliente"
      class="w-full"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-3">
    <label>PISO</label>
    <input
      pInputText
      formControlName="floor"
      maxlength="10"
      placeholder="Ingrese el piso del domicilio del cliente"
      class="w-full"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-3">
    <label>DEPARTAMENTO(s) / OFICINA(s)</label>
    <input
      pInputText
      formControlName="office"
      maxlength="10"
      placeholder="Ingrese el departamento u oficina del cliente"
      class="w-full"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-3">
    <label>CODIGO POSTAL</label>
    <input
      pInputText
      formControlName="postalCode"
      maxlength="8"
      placeholder="Ingrese el código postal del cliente"
      class="w-full"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>PERSONA DE CONTACTO</label>
    <input
      pInputText
      formControlName="contactName"
      maxlength="120"
      placeholder="Ingrese el nombre de la persona de contacto"
      class="w-full"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-6">
    <label>CORREO ELECTRÓNICO (Persona de Contacto)</label>
    <input
      pInputText
      formControlName="contactEmail"
      maxlength="120"
      placeholder="Ingrese el correo electrónico de la persona de contacto"
      pKeyFilter="email"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-6 xl:col-6">
    <label>TELÉFONO / CELULAR (Persona de Contacto)</label>
    <input
      pInputText
      formControlName="contactPhone"
      maxlength="20"
      placeholder="Ingrese el teléfono o celular de la persona de contacto"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>COMENTARIOS</label>
    <textarea
      pInputTextarea
      formControlName="comment"
      maxlength="250"
      placeholder="Ingrese un comentario adicional"
      class="w-full"
      [autoResize]="true"
      rows="5"
    ></textarea>
  </div>
  <div class="flex gap-2 col-12 lg:flex-row justify-content-end flex-column">
    <p-button
      label="SALIR DEL FORMULARIO"
      styleClass="p-button-secondary w-full"
      (onClick)="closeClientForm()"
    />
    <p-button
      [label]="buttonLabel"
      [disabled]="clientForm.invalid || !hasClientFormChanged()"
      styleClass="p-button-info w-full"
      (onClick)="processClientForm()"
    />
  </div>
</form>
