<form class="w-full flex flex-column gap-3 py-2">
  <div class="w-full">
    <label>ESTADO ACTUAL</label>
    <input type="text" pInputText class="w-full" />
  </div>
  <div class="w-full">
    <label>ESTADO SIGUIENTE</label>
    <input type="text" pInputText class="w-full" />
  </div>
  <div class="w-full">
    <label>COMENTARIOS</label>
    <textarea
      pInputTextarea
      maxlength="250"
      class="w-full"
      [autoResize]="true"
      rows="6"
    ></textarea>
  </div>
  <div class="flex justify-content-end gap-2 w-full">
    <p-button label="CANCELAR" styleClass="p-button-secondary p-button-text" />
    <p-button styleClass="p-button-info p-button-text" label="GUARDAR" />
  </div>
</form>
