<form
  class="w-full flex flex-column gap-3 py-2"
  [formGroup]="supportHistoryForm"
>
  <div class="w-full">
    <label>N° DE REFERENCIA DEL SERVICIO</label>
    <input pInputText class="w-full uppercase" formControlName="reclaim" />
  </div>
  <div class="w-full">
    <label>FECHA</label>
    <p-calendar
      formControlName="dateEntry"
      dateFormat="dd-mm-yy"
      styleClass="w-full"
      appendTo="body"
      [showButtonBar]="true"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [showOnFocus]="true"
      [showClear]="true"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('dateEntry') }"
      placeholder="Seleccionar fecha de cambio de estado..."
    />
  </div>
  <div class="w-full">
    <label>ESTADO ACTUAL</label>
    <p-dropdown
      [options]="currentStates"
      optionLabel="name"
      optionValue="id"
      styleClass="w-full uppercase"
      formControlName="stateCurrent"
      dropdownIcon="none"
    />
  </div>
  <div class="w-full">
    <label>ESTADO SIGUIENTE</label>
    <p-dropdown
      [options]="nextStates"
      optionLabel="name"
      optionValue="id"
      styleClass="w-full uppercase"
      formControlName="stateNext"
      placeholder="Seleccionar..."
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('stateNext') }"
    />
    <small *ngIf="validateForm('stateNext')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="w-full">
    <label>COMENTARIOS</label>
    <textarea
      pInputTextarea
      formControlName="remarks"
      maxlength="500"
      class="w-full"
      [autoResize]="true"
      rows="6"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('remarks') }"
    ></textarea>
    <small *ngIf="validateForm('remarks')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex justify-content-end gap-2 w-full">
    <p-button
      label="SALIR SIN GUARDAR"
      styleClass="p-button-secondary p-button-text"
      (onClick)="exitForm()"
    />
    <p-button
      styleClass="p-button-info p-button-text"
      label="REGISTRAR CAMBIO DE ESTADO"
      [disabled]="supportHistoryForm.invalid"
      (onClick)="saveForm()"
    />
  </div>
</form>
