<p-tabView>
  <p-tabPanel header="FORMULARIO"
    ><form class="grid" [formGroup]="supportHistoryForm">
      <div class="flex flex-column col-12 lg:col-12 xl:col-12">
        <label>FECHA</label>
        <p-calendar
          formControlName="dateEntry"
          dateFormat="dd-mm-yy"
          appendTo="body"
          styleClass="w-full"
          placeholder="Seleccionar fecha de cambio de estado"
          [showButtonBar]="true"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [showClear]="true"
          [ngClass]="{ 'ng-invalid ng-dirty': validateForm('dateEntry') }"
        />
        <small *ngIf="validateForm('dateEntry')" class="p-error">
          Campo requerido*
        </small>
      </div>
      <div class="flex flex-column col-12 lg:col-12 xl:col-12">
        <label>ESTADO ACTUAL</label>
        <p-dropdown
          [options]="currentStates"
          optionLabel="name"
          optionValue="id"
          styleClass="w-full"
          formControlName="stateCurrent"
          dropdownIcon="none"
          [ngClass]="{ 'ng-invalid ng-dirty': validateForm('stateCurrent') }"
        />
      </div>
      <div class="flex flex-column col-12 lg:col-12 xl:col-12">
        <label>ESTADO SIGUIENTE</label>
        <p-dropdown
          [options]="nextStates"
          optionLabel="name"
          optionValue="id"
          styleClass="w-full"
          formControlName="stateNext"
          placeholder="Seleccionar estado siguiente"
          [showClear]="true"
          [ngClass]="{ 'ng-invalid ng-dirty': validateForm('stateNext') }"
        />
        <small *ngIf="validateForm('stateNext')" class="p-error">
          Campo requerido*
        </small>
      </div>
      <div
        class="flex flex-column col-12 lg:col-12 xl:col-12"
        *ngIf="showHours"
      >
        <label>TIEMPO DE REPARACIÓN (horas aproximadas)</label>
        <input
          formControlName="repairedTime"
          type="text"
          pInputText
          class="w-full"
          [pKeyFilter]="'num'"
          [maxlength]="2"
          placeholder="Ingrese horas de reparación"
          [ngClass]="{ 'ng-invalid ng-dirty': validateForm('repairedTime') }"
        />
        <small *ngIf="validateForm('repairedTime')" class="p-error">
          Campo requerido*
        </small>
      </div>
      <div class="flex flex-column col-12 lg:col-12 xl:col-12">
        <label>COMENTARIOS (Estado actual)</label>
        <textarea
          pInputTextarea
          formControlName="remarks"
          maxlength="500"
          class="w-full"
          [autoResize]="true"
          rows="5"
          [ngClass]="{ 'ng-invalid ng-dirty': validateForm('remarks') }"
        ></textarea>
        <small *ngIf="validateForm('remarks')" class="p-error">
          Campo requerido*
        </small>
      </div>
      <div
        class="flex gap-2 col-12 lg:flex-row justify-content-end flex-column"
      >
        <p-button
          label="SALIR DEL FORMULARIO"
          styleClass="p-button-secondary w-full"
          (onClick)="exitForm()"
        />
        <p-button
          styleClass="p-button-info w-full"
          label="REGISTRAR FORMULARIO"
          [disabled]="supportHistoryForm.invalid"
          (onClick)="saveForm()"
        />
      </div>
    </form>
  </p-tabPanel>
  <p-tabPanel header="NOTAS">
    <div class="grid gap-2">
      <div
        *ngIf="notes.length > 0; else noNotes"
        class="col-12 lg:col-12 xl:col-12"
      >
        <div
          *ngFor="let note of notes"
          class="p-card shadow-none border-1 border-gray-300 py-2 px-2 mb-2"
        >
          <div class="p-card-header flex flex-column gap-2">
            <p class="p-tag w-fit p-tag-info">{{ note.user.fullname }}</p>
            <small>{{ note.dateEntry | date : "dd/MM/yyyy HH:mm" }} </small>
          </div>
          <div class="p-card-content py-3">
            <p class="small">{{ note.comment }}</p>
          </div>
        </div>
      </div>
      <ng-template #noNotes>
        <div class="p-message p-message-warn col-12 flex gap-1 p-4">
          <i class="pi pi-info-circle text-xl"></i>
          <p class="ml-2">
            No se encontraron notas relacionadas con este estado.
          </p>
        </div>
      </ng-template>
    </div>
    <form class="grid" [formGroup]="supportHistoryNoteForm">
      <div class="flex flex-column col-12 lg:col-12 xl:col-12">
        <div class="w-full flex flex-row gap-2 align-items-center">
          <textarea
            pInputTextarea
            formControlName="comment"
            maxlength="500"
            class="w-full h-full"
            [rows]="5"
            [autoResize]="true"
            placeholder="Ingrese una nota nueva si es necesario"
            [ngClass]="{ 'ng-invalid ng-dirty': validateFormNote('comment') }"
          ></textarea>
          <p-button
            icon="pi pi-send"
            styleClass="p-button-info"
            (onClick)="saveFormNote()"
            [disabled]="supportHistoryNoteForm.invalid"
          />
        </div>
        <small *ngIf="validateFormNote('comment')" class="p-error">
          Campo requerido*
        </small>
      </div>
    </form>
  </p-tabPanel>
</p-tabView>
