<form class="grid" [formGroup]="supportHistoryForm">
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>FECHA</label>
    <p-calendar
      formControlName="dateEntry"
      dateFormat="dd-mm-yy"
      appendTo="body"
      styleClass="w-full"
      placeholder="Seleccionar fecha de cambio de estado"
      [showButtonBar]="true"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [showClear]="true"
      [autofocus]="true"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('dateEntry') }"
    />
    <small *ngIf="validateForm('dateEntry')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>ESTADO ACTUAL</label>
    <p-dropdown
      [options]="currentStates"
      optionLabel="name"
      optionValue="id"
      styleClass="w-full"
      formControlName="stateCurrent"
      dropdownIcon="none"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('stateCurrent') }"
    />
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>ESTADO SIGUIENTE</label>
    <p-dropdown
      [options]="nextStates"
      optionLabel="name"
      optionValue="id"
      styleClass="w-full"
      formControlName="stateNext"
      placeholder="Seleccionar estado siguiente"
      [showClear]="true"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('stateNext') }"
    />
    <small *ngIf="validateForm('stateNext')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12" *ngIf="showHours">
    <label>TIEMPO DE REPARACIÓN (horas aproximadas)</label>
    <input
      formControlName="repairedTime"
      type="text"
      pInputText
      class="w-full"
      [pKeyFilter]="'num'"
      [maxlength]="2"
      placeholder="Ingrese horas de reparación"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('repairedTime') }"
    />
    <small *ngIf="validateForm('repairedTime')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex flex-column col-12 lg:col-12 xl:col-12">
    <label>COMENTARIOS (Estado actual)</label>
    <textarea
      pInputTextarea
      formControlName="remarks"
      maxlength="500"
      class="w-full"
      [autoResize]="true"
      rows="5"
      [ngClass]="{ 'ng-invalid ng-dirty': validateForm('remarks') }"
    ></textarea>
    <small *ngIf="validateForm('remarks')" class="p-error">
      Campo requerido*
    </small>
  </div>
  <div class="flex gap-2 col-12 lg:flex-row justify-content-end flex-column">
    <p-button
      label="SALIR DEL FORMULARIO"
      styleClass="p-button-secondary w-full"
      (onClick)="exitForm()"
    />
    <p-button
      styleClass="p-button-info w-full"
      label="REGISTRAR FORMULARIO"
      [disabled]="supportHistoryForm.invalid"
      (onClick)="saveForm()"
    />
  </div>
</form>
